/.DS_Store
/.vscode
/12+Rules+to+Learn+to+Code+%5B2nd+Edition%5D+2022.pdf
/2023+Web+Dev+Syllabus.pdf
/Goal+Setting+Questions.pdf
5.1. Adding CSS/Solution/external.html
5.1. Adding CSS/Solution/inline.html
.gitignore
5.1. Adding CSS/Solution/internal.html
5.1. Adding CSS/Solution/solution.html
5.1. Adding CSS/Solution/style.css
5.3 CSS Selectors/solution/solution.html
5.3 CSS Selectors/solution/solution-style.css
