/.DS_Store
/.vscode
/12+Rules+to+Learn+to+Code+%5B2nd+Edition%5D+2022.pdf
/2023+Web+Dev+Syllabus.pdf
/Goal+Setting+Questions.pdf
2.1 Heading Element/solution.html
2.2 Paragraph Element/solution.html
2.3 Void Elements/solution.html
2.4 Movie Ranking Project/solution.html
5.1. Adding CSS/Solution/external.html
5.1. Adding CSS/Solution/inline.html
5.1. Adding CSS/Solution/internal.html
5.1. Adding CSS/Solution/solution.html
5.1. Adding CSS/Solution/style.css
5.2 CSS Selectors/solution/solution-style.css
5.2 CSS Selectors/solution/solution.html
5.3 Color Vocab Website/solution/assets/images/yellow.png
5.3 Color Vocab Website/solution/assets/images/red.png
5.3 Color Vocab Website/solution/assets/images/orange.png
5.3 Color Vocab Website/solution/assets/images/green.png
5.3 Color Vocab Website/solution/assets/images/blue.png
5.3 Color Vocab Website/solution/style.css
5.3 Color Vocab Website/solution/solution.html
6.0 CSS Colors/solution.html
.gitignore
6.1 Font Properties/solution.html
6.2 CSS Box Model/solution.html
6.3 Motivation Meme Project/solution/solution.css
6.3 Motivation Meme Project/solution/solution.html
6.3 Motivation Meme Project/solution/assets/images/daenerys.jpeg
7.0 CSS Cascade/solution/solution.css
7.0 CSS Cascade/solution/solution.html
7.1 Combining Selectors/solution.css
7.2 CSS Positioning/solution.html
7.3 CSS Flag Project/solution.html
