body {
    background-color: black;
}

#pic {
    border: 5px solid white ;
    width: 100%;
}

.daenerys {
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
}

#libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
  }